<footer>
    
    <div class="container">
        
        <div class="socialmedia">
            <a href="https://www.facebook.com/VayotsDzorRegionalStateCollege/?ref=bookmarks&_rdc=1&_rdr" target="_blank">
                <img src="./assets/fb.png" alt="">
            </a>
            <a href="https://www.instagram.com/vayotsdzorreg.statecollege/?hl=ru" target="_blank">
                <img src="./assets/instagram.png" alt="">
            </a>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">
                <img src="./assets/mail.png" alt="">
            </a>
            <a class="phone">
                <img src="./assets/phone.png" class="phoneIcon" alt="" >
                <span class="phonenumber" #phonenumber>/0281/ 2-53-75</span>
            </a>
        </div>

        <div class="allrights">
            <p class="lng-title2">Վայոց ձորի տարածաշրջանային պետական քոլեջ ՊՈԱԿ</p>
            <p> © All rights reserved, 2021 </p>
        </div>
        
        <div class="menu">
            <a href="#" class="lng-home2 menu-item" routerLink='/' routerLinkActive='active'>Գլխավոր</a>
            <a href="#" class="lng-profession2 menu-item" routerLink='/professions' routerLinkActive='active'>Մասնագիտություններ</a>
            <a href="#" class="lng-feedback2 menu-item" routerLink='/feedback' routerLinkActive='active'>Հետադարձ կապ</a>
        </div>
    </div>
</footer>