<div class="mn-container">
    <p class="mn-t3">Մանկավարժական խորհուրդ</p>
    <hr class="mn-hr">
 
    <section>
        <p class="mn-text">Նախագահ՝</p>
        <ul class="ol">
            <li> Արգամ  Դովլաթյան</li>
        </ul>
        <p class="mn-text">Անդամներ՝</p>
        <ul class="ol">
            <li>Խաչանուշ Սարգսյան</li>
            <li>Էլյա Սարգսյան</li>
            <li>Մեհրանուշ Սահակյան</li>
            <li>Մարո Վաղարշակյան</li>
            <li>Սուսաննա Հակոբյան</li>
            <li>Հասմիկ Գևորգյան</li>
            <li>Աշխեն Պողոսյան</li>
            <li>Նարինե Հովհաննիսյան</li>
            <li>Արմինե Միքայելյան</li>
            <li>Լուսինե Նահապետյան</li>
            <li>Արմինե Գասպարյան</li>
            <li>Լուսինե Սիմոնյան</li>
            <li>Անահիտ Հակոբյան</li>
            <li>Անի Խալաթյան</li>
            <li>Անի Մաթևոսյան</li>
            <li>Հայարփի Սարդարյան</li>
            <li>Լիլիթ Ներսիսյան </li>
            <li>Գոհար Հունանյան </li>
            <li>Գոհար Ավագյան </li>
            <li>Մարինե Մնացականյան </li>
            <li>Ալլա Նազարյան </li>
            <li>Վարդուշ Նազարյան </li>
            <li>Վիկտորյա Խաչատրյան </li>
            <li>Սրբուհի Հարությունյան </li>
            <li>Վան Միքայելյան </li>
            <li>Արթուր Առաքելյան </li>
            <li>Բագրատ Սարգսյան </li>
            <li>Անուշավան Մովսիսյան </li>
            <li>Սյուզաննա Սարատիկյան</li>
            <li>Նաթելա Ասատրյան</li>
            <li>Գոհար Մարգարյան</li>
        </ul>
    </section>

</div>
