<div class="mn-container">
    <p class="mn-t3">Ռազմավարական ծրագրեր</p>
    <hr class="mn-hr">
    
    <section> 
        <p class="download">Բեռնել</p>
        <a class="download-p" *ngFor="let file of files['strategic-plans']"  [href]="file.link" target="_blank"> {{ file.name }} <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span> </a>

        <!-- <p class="download-p">Զարգացման ռազմավարական ծրագրի նախագիծ, ժամանակացույց 2021-2026թթ․ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!--  -->
        <!-- <p class="download-p">Որակի ապահովման բաժնի ռազմավարական ծրագիր, ժամանակացույց 2016-2021թթ. <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!--  -->
        <!-- <p class="download-p">Հետազոտության ոլորտի ռազմավարությունը 2016-2021թթ. <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!-- <p class="download-p">Գրադարանի ռազմավարական ծրագիր, ժամանակացույց 2016-2021թթ. <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!-- <p class="download-p">Արտաքին կապերի և միջազ․ ռազմ․ ծրագիր և ժամանակացույց 2016-2021թթ. <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!-- <p class="download-p">Ամբիոնների ռազմավարական ծրագիր և ժամանակացույց 2016-2021թթ. <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!-- <p class="download-p">ԱՀՈՒ հիմնախնդիրներ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!-- <p class="download-p">Ռազմավարական ծրագիր 2011-2016թթ․ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!-- <p class="download-p">Ռազմավարական ծրագիր 2016-2021թթ․ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!-- <p class="download-p">Ռազմավարական ծրագրի իրականացման ժամանակացույց 2016-2021թթ․ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!-- <p class="download-p">Հետազոտության ոլորտի ռազմավարությունը 2016-2021թթ. <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!-- <p class="download-p">5 տարվա զարգացման ծրագիր 2021-2026թթ. <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!-- <p class="download-p">2016-2021 Ուսումնական մասի ռազմավարական ծրագիր, ժամանակացույց <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
    </section>

</div>
