<div class="mn-container">
    <p class="mn-t3">Հայտարարություն</p>
    <hr class="mn-hr">
    
    <section>
        <p class="mn-text">
            Հայտարարվում է մրցույթ` ՀՀ <<Վայոց ձորի տարածաշրջանային պետական քոլեջ>> ՊՈԱԿ-ի  <<Զբոսաշրջություն>> մասնագիտության մասնագիտական մոդուլները /300 ժամ ծանրաբեռնվածությամբ/ պարապող դասախոսի թափուր աշխատատեղի համար:
        </p>
        <p class="mn-text">Մրցույթին մասնակցելու համար անձը հանձնաժողովին է ներկայացնում`</p>
        <ol class="ol">
            <li>Դիմում /Ձև 1/,</li>
            <li>կրթության մասին հավաստող փաստաթուղթ /դիպլոմ/,</li>
            <li>անձնագրի պատճեն,</li>
            <li>աշխատանքային ստաժի վերաբերյալ տեղեկանք,</li>
            <li>ինքնակենսագրություն /Ձև 4/,</li>
            <li>մեկ լուսանկար 3x4 չափսի,</li>
            <li>այլ պետությունների քաղաքացիները` Հայաստանի Հանրապետությունում աշխատելու իրավունքը հավաստող փաստաթուղթ,</li>
            <li>Հայաստանի Հանրապետության արական սեռի քաղաքացիները ներկայացնում են նաև զինվորական գրքույկ,</li>
            <li>հրատարակված հոդվածների ցանկ կամ գիտական կոչումը հավաստող փաստաթղթեր (դրանց առկայության դեպքում):</li>
        </ol>
        <p class="mn-text">Փաստաթղթերի պատճենները պետք է ներկայացնել բնօրինակների հետ:</p>
        <p class="mn-text">Փաստաթղթերն ընդունվում են հայտարարության հրապարակման օրվանից՝ 06.08.2020թ. մինչև 04.09.2020թ., ամեն աշխատանքային օր` ժամը 9.00-ից մինչև 17.00-ը:</p>
        <p class="mn-text">Փաստաթղթերի ընդունումը կանցկացվի` ըստ կարգի:</p>
        <p class="mn-text">Մրցույթը տեղի կունենա 10.09.2020թ.՝ ժամը 14.00-ին, Վայոց ձորի տարածաշրջանային պետական քոլեջում:</p>
        <p class="mn-text">Տեղեկությունների համար զանգահարել /0281/ 2-37-50, 2-10-37, 2-53-75 հեռախոսահամարներով:</p>
        <br>
        <p class="mn-t3 bord">Դարձիր ՎՁՏՊ Քոլեջի ուսանող</p> 
        <p class="mn-text">ՎՁՏՊ քոլեջն իր հյուրընկալ դռներն է բացում՝ կրթվել ու մասնագիտություն ձեռք բերելու ցանկություն ունեցող և, վերջիվերջո, մարզի զարգացման գործում իր ներդրումն ապահովել կամեցող անձանց առջև:</p>
        <p class="mn-text">Դիմորդների փաստաթղթերն ընդունվում են՝ հուլիսի 16-ից օգոստոսի 17-ը: Թափուր տեղերի առկայության դեպքում, այլ մասնագիտական հաստատություններից դուրս մնացած դիմորդների համար` մինչև օգոստոսի 22-ը ներառյալ:</p>
        <p class="mn-text">Անվճար և վճարովի ուսուցման տեղերում մրցույթն իրականացվում է օգոստոսի 19-ին՝ վկայականի և ատեստատի գնահատականների հաշվարկման հատուկ կարգի հիման վրա:</p>
        <p class="mn-text">Ուսուցման ձևը բոլոր բաժիններում առկա է, իսկ ուսման վարձը` տարեկան 120 000 /մեկ հարյուր քսան հազար/ դրամ:</p>
        <p class="mn-text">Լրացուցիչ տեղեկությունների համար կարող եք այցելել ՎՁՏՊ քոլեջ՝ ք. Եղեգնաձոր, Սպանդարյան 3, կամ պարզապես զանգահարել՝ /0281/ 2-53-75, 6-20-58, /+374/ 093 219 828:</p>
    </section>

</div>