<div class="mn-container">
    <p class="mn-t3">Ուսանողական խորհուրդ</p>
    <hr class="mn-hr">
 
    <section>

        <div class="mn-container">
            <img src="./assets/student-board.png" alt="" class="img">
            <p class="mn-t2"> Վայոց ձորի տարածաշրջանային պետական քոլեջում գործում է ուսանողական խորհուրդ, որի գործունեության շրջանակները լայն ու ընդգրկուն են` ուսանողների հասարակական ակտիվության բարձրացմանն ուղղված տարաբնույթ աշխատանքների իրականացում,գեղագիտական, աշխատանքային, հայրենասիրական դաստիարակությանն ուղղված միջոցառումների, ինտելեկտուալ խաղերի կազմակերպում, ուսանողներին հուզող խնդիրների վերհանում և լուծման ուղիների մշակում, մարզում գործող այլ ուսումնական հաստատությունների հետ համագործակցության հաստատում, մարզի կարևոր միջոցառումներին, ակցիաներին ակտիվ մասնակցություն և այլն:
            <p class="mn-t1 italic"> ՎԱՅՈՑ ՁՈՐԻ ՏԱՐԱԾԱՇՐՋԱՆԱՅԻՆ ՊԵՏԱԿԱՆ ՔՈԼԵՋԻ
            <p class="mn-t1 italic">ՈՒՍԱՆՈՂԱԿԱՆ ԽՈՐՀՐԴԻ ԿԱԶՄԸ</p>
            <p class="mn-t1 italic"><b class="sm-tx">2020-2021</b> ՈՒՍ. ՏԱՐԻ</p>
            <img src="https://i.gifer.com/74SX.gif" alt="" class="img">
            <table class="table" style="min-width: 80%;">
                <tr>
                    <th>
                        <b>Նախագահ</b>
                    </th>
                
                    <tr>
                        <td>
                            Գալստյան Վազգեն – Զբոսաշրջություն, 3-րդ կուրս
                        </td>
                    </tr>
                    <tr>
                    <th>
                        <b> Փոխնախագահ</b>
                    </th>
                    <tr>
                        <td>
                            Ղևոնդյան Սոնա- Զբոսաշրջություն, 3-րդ կուրս
                        </td>
                    </tr>
                    <tr>
                    <th>
                        <b> Քարտուղար</b>
                    </th>
                    <tr>
                        <td>
                            Մակարյան Աննա – Զբոսաշրջություն, 2-րդ  կուրս
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <b> Անդամներ</b>
                        </th>
                    </tr>
    
                    <tr>
                        <td>
                            Մհերյան Մհեր – Զբոսաշրջություն, 2-րդ կուրս
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Ենոքյան Միլենա – Զբոսաշրջություն, 1-ին կուրս
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Գրիգորյան Ռուզան – Զբոսաշրջություն, 1-ին կուրս                   
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Խաչատրյան Մերի – Հաշվապահական հաշվառում, 1-ին կուրս                 
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Ավետիսյան Մարիա- Հաշվապահական հաշվառում, 1-ին կուրս                
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Ստեփանյան Մերի - Հաշվապահական հաշվառում, 2-րդ կուրս                
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Ավագյան Մանե - Հաշվապահական հաշվառում, 2-րդ կուրս                
                        </td>
                    </tr>
    
    
                    <tr>
                        <td>
                            Սարդարյան Կարեն - Հաշվապահական հաշվառում, 3-րդ կուրս
                        </td>
                    </tr>
                        
    
                    <tr>
                        <td>
                            Մնացականյան Ինա - Հաշվապահական հաշվառում, 3-րդ կուրս               
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Խաչատրյան Վարդերես- Իրավագիտություն, 2-րդ կուրս                    
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Հակոբյան Էլեն- Հաշվող. տեխ.և ավտոմ.համ. ծրագր. ապ, 1-ին կուրս                    
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Հովհաննիսյան  Լուսինե- Հաշվող. տեխ.և ավտոմ.համ. ծրագր. ապ, 1-ին կուրս                    
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Գասպարյան Ռաֆիկ- Հաշվող. տեխ.և ավտոմ.համ. ծրագր. ապ, 2-րդ կուրս
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Մանասերյան Վազգեն -Հաշվող. տեխ.և ավտոմ.համ. ծրագր. ապ, 2-րդ կուրս
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Շավարշյան Վանիկ -Հաշվող. տեխ.և ավտոմ.համ. ծրագր. ապ, 3-րդ կուրս                    
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Սարգսյան Արմինե -Հաշվող. տեխ.և ավտոմ.համ. ծրագր. ապ., 3-րդ կուրս
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Պետրոսյան Վահե- Հաշվող.  տեխ. և ավտոմ. համ. ծրագր. ապ., 4-րդ կուրս
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Հունանյան Ալիկ- Խոհարարական գործ,1-ին կուրս                    
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Մկրտչյան Աննա- Խոհարարական գործ, 2-րդ կուրս                    
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Մնացականյան Լիլիթ -Խոհարարական գործ, 3-րդ կուրս                    
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Սահակյան Արայիկ- Փայտագործություն, 2-րդ կուրս                    
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Ստեփանյան Դավիթ- Փայտագործություն, 3-րդ կուրս
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Շահինյան Արմեն- Գինեգործություն և հյութերի արտադրություն, 1-ին կուրս                    
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            Թադևոսյան Սյուզի-  Գինեգործություն և հյութերի արտադրություն, 3-րդ կուրս                    
                        </td>
                    </tr>
    
            </table>    
       
                <!-- </p> -->
            <!-- </p> -->
        </div>
    </section>
</div>