<div class="mn-container">
    <p class="mn-t3"><< Անուշավան Աբրահամյան >> կրթական հիմնադրամ. 
    Վայոց ձորի տարածաշրջանային պետական քոլեջի մեծ երախտավորը</p>
    <hr class="mn-hr">

    <section>
        <p class="mn-t1">Անուշավան Աբրահամյան Կրթական Հիմնադրամն իր գործունեություն է ծավալում ինչպես անապահով երիտասարդների կրթական հնարավորությունների՝ հատկապես արհեստագործական հմտությունների վերապատրաստման  ապահովման, այնպես էլ՝  ՀՀ մարզերում երիտասարդության միջին մասնագիտական և արհեստագործական հմտությունների զարգացման նպատակով՝ նպաստավոր պայմանների ստեղծման և շարունակական աջակցման ուղղությամբ: 
            2006 թվականից՝ բարերարը նախարարության հետ համատեղ ՄԿՈՒ ոլորտում իրականացնում է համատեղ ծրագրեր մարզային ուսումնական հաստատություններում. ԱԱԿՀ-ի ֆինանսավորմամբ Հայաստանի տարբեր մարզերում հիմնանորոգվել են միջին մասնագիտական ​​կրթօջախները եւ ստեղծվել են բազմաթիվ արհեստանոցներ, կարուձևի և դիզայնի, վարսավիրության և դիմահարդարման, շինարարության, ատաղձագործության, սնունդի ու սպասարկման, համակարգչային սպասարկման եւ վերապատրաստման, ինչպես նաեւ Հայաստանի 9 քոլեջներում բացվել են  ռոբոտաշինության եւ համակարգչային ծրագրավորման արհեստանոցներ:</p>
        <hr class="mn-hr">
        <p class="mn-t1">ԱԱ կրթական հիմնադրամի հովանավորության շնորհիվ, տարիներ առաջ վերանորոգվել է քոլեջի տանիքը, տեղադրվել է ջեռուցման լոկալ համակարգ, փոխարինվել են պատուհանները, ինչպես նաեւ, արհեստագործական ուսուցումը մարզում զարգացնելու նպատակով, բացվել են արհեստագործական մասնագիտություններ` </p> 
       <ol class="ol">
           <li>Հասարակական սնունդ </li>
           <li>Վարսավիրական արվեստ և զարդային դիմահարդարում, </li>
           <li>Կարի արտադրության  և տեխնոլոգիա,</li>
           <li>Գինեգործություն և հյութերի արտադրություն:</li>
       </ol>
            <p class="mn-t1 mn-mtop"> Նշված մասնագիտությունների ուսումնական գործընթացն արդյունավետ իրականացնելու նպատակով, հիմնադրամի աջակցության շնորհիվ, ՎՁՏՊ քոլեջին տրամադրվել են անհրաժեշտ մասնագիտական ​​սարքավորումներ և  նյութեր:  </p>
            <hr class="mn-hr">
            <p class="mn-t1">2016թ.-ին հիմնադրամը նվիրել է քոլեջին ռոբոտաշինության լսարան, որը մեծ հեռանկարներ և հնարավորություններ է ստեղծել քոլեջի ուսանողների գործունեության համար: Այստեղ ուսանողներն ուումնասիրում են համակարգչային ծրագրավորում, եռաչափ տպագրություն, ռոբոտաշինական նախագծում, ստեղծում և կառավարում:</p>
            <p class="mn-t1">ՎՁՏՊ քոլեջում ստեղծվել է նաև հիմնադրամի անկախ հանձնախումբ, որը բաղկացած է նախագահից, դասախոսներից, ուսանողներից և ծնողներից: Հանձնախմբի հրավիրված նիստերի ընթացքում հնչում են տարրատեսակ քննարկումներ, տրվում են առաջարկներ, որոնք այնուհետ կյանքի են կոչվում հիմնադրամի աջակցության շնորհիվ: </p>  
            <p class="mn-t2">«Անուշավան Աբրահամյան Կրթական Հիմնադրամ»-ի նախագահ, ՎՁՏՊ քոլեջի </p>
            <p class="mn-t2">բարերար՝  Անուշավան Աբրահամյանի  այցերի  դրվագներից կազմված ֆոտոշարք</p>
        <div class="img-parent" style="background: none;"> 
            <img src="./assets/visits (1).jpg"  alt="" class="image pict">
            <img src="./assets/visits (2).jpg" alt="" class="image pict">
            <img src="./assets/visits (3).jpg" alt="" class="image pict">
            <img src="./assets/visits (4).jpg" alt="" class="image pict">
            <img src="./assets/visits (5).jpg" alt="" class="image pict">
        </div>

    </section>

</div>