<div class="mn-container">
    <p class="mn-t3">Տնօրեն</p>
    <hr class="mn-hr">
    
    <p class="mn-t2">Արգամ Գագիկի Դովլաթյան</p>
    <section>
        <div class="floatparent">
            <img src="./assets/director1.jpg" alt="" class="floatimg">
        </div>
        <p>
            Առաջին իսկ օրվանից ձեռնամուխ է եղել ուսումնական հաստատության զարգացման կարևորագույն խնդրին. Մի շարք կոնֆերանսների, ինչպես նաև  վերապատրաստումների շարունակական մասնակցության շնորհիվ՝ փորձի փոխանակման շրջանակներում, Ա.Դովլաթյանը ջանք ու եռանդ չի խնայում ՎՁՏՊ քոլեջում նոր և հեռանկարային ծրագրերի  իրականացման գործում:
        </p>
        <p>
            Կրթական բնագավառում աշխատանքներ են իրականցվում՝ ուսուցման դուալ համակարգի ներդրման ուղղությամբ, դրանով քոլեջը դարձնելով տվյալ համակարգը հանրապետությունում ներդնող ուսումնական հաստատություններից առաջիններից մեկը: 
        </p>
        <p>
            Մարզի զարգացման գերակա ուղղության՝ գինեգործության ոլորտում պահանջվող մասնագետների ուսուցումը կազմակերպվում է գինու գործարաններում: Տվյալ համակարգի ներդրման համար չափազանց կարևորվել է գործատուների հետ համագործակցությունը, քանի որ ուսուցման գործընթացի 80%-ը իրականացվում է գործարաններում: ՈՒսանողներն աշխատում են սահմանված ժամաքանակով և միայն 20%-ը՝ որպես տեսական ուսուցման ժամանակահատված՝ անց են կացնում ուսումնական հաստատությունում: 
        </p>
        <p>
            Վայոց ձորի տարածաշրջանային պետական քոլեջն իր գործունեության առանցքային խնդիրներից է համարում այնպիսի մասնագիտությունների ուսուցումը, որոնք արդիական են, համահունչ են տարածաշրջանի աշխատաշուկայի պահանջարկին և սոցիալ-տնտեսական զարգացման օրինաչափություններին: Այս ամենի կողքին, իհարկե, չեն մոռացվում այն արժեքները, որոնք միտված են հոգևոր բացը լրացնելուն և գեղագիտական պահանջմունքները բավարարելուն: 
        </p>
        <p class="mn-font">
            ՎՁՏՊ քոլեջի ներկայիս տնօրեն՝  Ա. Դովլաթյանի գործունեությանը կարող եք ծանոթանալ ստորև ներկայացված, տարբեր մեդիա հարթակներում զետեղված հոդվածների և տեսանյութերի հղումների միջոցով:
        </p>
    </section>
    <section class="mn-part-parent">

        <p class="mn-t1"> СОЦИАЛЬНЫЕ ПРЕДПРИЯТИЯ - НОВАЯ КУЛЬТУРА ПРЕДПРИНИМАТЕЛЬСТВА </p>
        <section class="mn-part">
            <img src="./assets/director2.jpg" alt="" class="img2">
            <a href="https://golosarmenii.am/article/61331/socialnye-predpriyatiya-%E2%80%93-novaya-kultura-predprinimatelstva" target="_blank" class="mn-link">Տեսնել</a>
        </section>

        <p class="mn-t1">Երիտասարդների աշխատանքային զբաղվածության խնդիրները Վայոց ձորի մարզում </p>
        <section class="mn-part">
            <img src="./assets/director3.jpg" alt="" class="img2">
            <a href="https://www.youtube.com/watch?v=xst8Xr_RuPU" target="_blank" class="mn-link">Տեսնել</a>
        </section>

    </section>
</div>
