<div class="mn-container">
    <div class="mn-start">
        <p class="mn-t3">ԽՄԲԱԳՐԱԿԱՆ ԽՈՐՀՈՒՐԴ</p>
        <hr class="mn-hr">
        <p class="mn-t1">1997-2015 թթ-ի ընթացքում, քոլեջը հրատարակել է «Ուսանող» պարբերաթերթը, որի հրատարակման
            աշխատանքների արդյունավետ կազմակերպման նպատակով, ուսանողներից ու մանկավարժներից կազմավորվել է խմբագրական
            խորհուրդը: Տարիներ շարունակ թերթը լուսաբանել է քոլեջի խնդիրները, առօրյան, ներկայացրել միջոցառումներն ու
            կրթական գործընթացի կարեւոր նորությունները: Չսահմանափակվելով ներքոլեջային կյանքի լուսաբանմամբ` թերթը երբեմն
            իր էջերում անդրադարձել է մարզի հիշարժան դեպքերին, տպագրել է նյութեր, գրական, մշակութային թեմաներով, նպաստել
            ուսանողների գեղագիտական դաստիա րակությանը, ինտելեկտուալ մակարդակի բարձրացմանը:Թերթը տպագրել է նաեւ
            ուսանողների ստեղծագործությունները, ներկայացրել աշխարհի տարբեր միջօրեականներում կատարվող հետարքրքրաշարժ
            իրադարձությունները եւ նորությունները: </p>
        <div class="gifBground">
            <img src="./assets/editorial-board.gif" alt="">
        </div>
        <p class="mn-t1">Այսօր՝ հաշվի առնելով ժամանակի պահանջները,խմբագրական խորհրդի գործունեությունը տեղափոխվել է մեկ
            այլ հարթակ. վերոնշյալ աշխատանքներն իրենց վրա են վերցրել ՎՁՏՊ քոլեջի պաշտոնական էջերը /Facebook, Instagram /,
            ինչպես նաեւ կայք էջը: Համացանցի տիրույթում քոլեջի ակտիվ գործունեության միջոցով, այժմ հնարավոր է դարձել էլ
            ավելի մատչելի եւ հասանելի դարձնել տեղեկատվության փոխանցումը եւ հետադարձ կապի պահպանումը հասարակության առավել
            լայն շերտերի հետ:</p>
    </div>
</div>