<div class="mn-container">
    <p class="mn-t3">Հետազոտական աշխատանքներ</p>
    <hr class="mn-hr">
    
    <section> 
        <p class="download">Բեռնել</p>
        <a class="download-p" *ngFor="let file of files['research-works']"  [href]="file.link" target="_blank"> {{ file.name }} <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span> </a>
        <!-- <p class="download-p">Ռեսուրսներով բավարարվածության ուսանողների կարծիքների վերլուծություն <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Հետազոտական գործ և ուսումն. գործ. ուս. բավ. վերլուծություն <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Հետազոտական գործ և ուսումն. գործ. դասախոսների բավարարվածության վերլուծություն <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Հարցաթերթիկների փաթեթ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">2020-2021 ուս․ տարվա «Հաշվ․ տեխ. և ավ. համ. ծր.ապ․» մասնագիտության դիպլոմային աշխատանքների թեմաները <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">2019-2020 ուս․ տարվա «Հաշվ․ տեխ. և ավ. համ. ծր.ապ․» մասնագիտության դիպլոմային աշխատանքների թեմաները <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">2018-2019 ուս․ տարվա «Հաշվ․ տեխ. և ավ. համ. ծր.ապ․» մասնագիտության դիպլոմային աշխատանքների թեմաները <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Մասնագիտական աշխատակազմի կարիքների վերլուծություն <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Բիզնես կրթություն գործընկերություն հիմնադրամի հետ իրականացված հետազոտությունԲիզնես կրթություն գործընկերություն հիմնադրամի հետ իրականացված հետազոտություն <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Տակառագործության ուսումնաօժանդակ ձեռնարկ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">«Կրիպտոգրաֆիա և ինֆորմացիայի գաղտնագրում» թեմայով դիպլոմային աշխատանք <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Զբոսաշրջային փաթեթ Wonderful Armenia <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Զբոսաշրջային փաթեթ To Free Artsakh <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Հետազոտությունների կազմակերպման և համակարգման կառուցվածքային սխեման <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!-- <br> -->
        <!-- <p class="download">Հղումներ</p> -->
        <!-- <p class="download-p">Զբոսաշրջային փաթեթի նախագծման հաջորդական քայլեր <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        
    </section>
</div>