<div class="mn-container">
    <p class="mn-t3">Շրջանավարտներ</p>
    <hr class="mn-hr">
    
    <section>
        <p class="mn-t2 mn-mtop">Հպարտանալու առիթ ունենք</p>
        <table class="table allWidth">
            <tr>
                <th class="mn-text">Ռուբեն Հարությունով</th>
            </tr>
            <tr>
                <td>
                    <p class="mn-text">ՎՁՏՊ քոլեջի «Հաշվողական տեխնիկայի և ավտոմատացված համակարգերի ծրագրային ապահովում» մասնագիտության ուսանող Ռուբեն Հարությունովը՝  2015թ-ին դառնալով «Աշխարհի հմտություններ» մրցույթի հայաստանյան փուլի հաղթողներից մեկը, իրավունք ստացավ մասնակցելու Բրազիլիայի Սան Պաոլո քաղաքում կայանալիք միջազգային մրցույթին:  2016թ.-ին Եկատերինբուրգում կայացած «IT-Պլանետա» օլիմպիադայում Ռուբենը գրավեց 2-րդ պատվավոր տեղը` հաղթողին զիջելով ընդամենը մի քանի րոպե ժամանակով:</p>
                    <p class="mn-text">ՀՀ Զինված ուժերում իր սրբազան պարտքը պատվով հանձնելուց հետո, Ռուբենը կարողացավ գտնել իր տեղն աշխատաշուկայում:</p>
                </td>
            </tr>
            <tr>
                <th class="mn-text">Արամ Շահբազյան</th>
            </tr>
            <tr>
                <td>
                    <p class="mn-text">«Խոհարարական գործ» մասնագիտության շրջանակներում, ՀՀ հինգ քոլեջներից ընտրված ուսանողներից մեկն էլ մեր շնորհալի ուսանող՝ Շահբազյան Արամն էր, ով փորձի փոխանակման նպատակով հնարավորություն ստացավ մեկնել Լեհաստան:</p>
                    <p class="mn-text">Արդեն իսկ զինված լինելով գիտելիքների բավականին մեծ պաշարով, Արամ Շահբազյանը նույնպես կարողացավ աշխատաշուկայում գտնել իր տեղը՝  շարունակելով ձեռք բերել նորանոր գիտելիքներ և կատարելագործել մասնագիտական  հմտությունները:</p>
                </td>
            </tr>

        </table>
    </section>
</div>