<div class="mn-container">
    <div class="mn-start">
        <p class="mn-t3">ՈՒՍՈՒՄՆԱՄԵԹՈԴԱԿԱՆ ԽՈՐՀՈՒՐԴ</p>
        <hr class="mn-hr">
        <p class="mn-t1">ՎՁՏՊ քոլեջի ուսումնամեթոդական խորհուրդը իր լիազորությունների սահմաններում քննարկում և հաստատում
            է քոլեջի ուսումնամեթոդական գործունեության հարցերը՝ քոլեջի կրթության որակը և դասավանդման արդյունավետությունը
            բարձրացնելու նպատակով: Խորհուրդը համակարգում է քոլեջի ուսումնամեթոդական խորհուրդների աշխատանքները, քննարկում
            և երաշխավորում է ուսումնական գործընթացն ապահովող մեթոդական հարցեր.</p>
        <ul class="ol">
            <li>իրականացվող մասնագիտական կրթական ծրագրերը և ուսումնական պլաններն ու առարկայական ծրագրերը, ինչպես նաև
                դրանցում կատարվող փոփոխությունները</li>
            <li>դասավանդման նոր եղանակներն ու մեթոդները</li>
            <li>ուսանողների գնահատման համակարգի փոփոխությունները</li>
            <li>ուսումնամեթոդական նոր գրականության համապատասխանությունն ուսումնական պլաններին, ծրագրերին</li>
        </ul>
        <p class="mn-t1">Ուսումնամեթոդական խորհուրդն իր լիազորություններն իրականացնելու համար իրավասու է որոշակի հարցերի
            վերաբերյալ կատարել հետազոտություններ, կրթական ստորաբաժանումների ղեկավարներից և այլ աշխատողներից ստանալ
            նյութեր և վերլուծություններ, ինչպես նաև ընդունել որոշումներ:</p>
        <hr class="mn-hr">
        <p class="mn-t1">ՈՒՍՈՒՄՆԱՄԵԹՈԴԱԿԱՆ ԽՈՐՀՐԴԻ ԿԱԶՄԸ</p>
        <dl>
            <dt>Նախագահ՝</dt>
            <dd>Խաչանուշ Սարգսյան</dd>
            <dt>Անդամներ՝</dt>
            <dd>Մարո Վաղարշակյան</dd>
            <dd>Լուսինե Նահապետյան</dd>
            <dd>Սուսաննա Հակոբյան</dd>
            <dd>Հասմիկ Գևորգյան</dd>
            <dd>Աշխեն Պողոսյան</dd>
            <dd>Սրբուհի Հարությունյան</dd>
            <dd>Էլյա Սարգսյան</dd>
        </dl>
    </div>
</div>