<div class="mn-container">
    <p class="mn-t3">Պրակտիկաների ծրագրեր</p>
    <hr class="mn-hr">
    
    <section> 
        <p class="download">Բեռնել</p>
        <a class="download-p" *ngFor="let file of files['intership-programs']"  [href]="file.link" target="_blank"> {{ file.name }} <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span> </a>

        <!-- <p class="download-p">Պրակտիկայի ծրագիր «Հաշվապահական հաշվառում» մասնագիտության համար, 2018թ․ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Պրակտիկայի ծրագիր «Հաշվապահական հաշվառում» մասնագիտության համար, 2017թ․ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Պրակտիկայի ծրագիր «Հաշվող. տեխ. և ավ.համ.ծր.ապ.» մասնագիտության համար <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Պրակտիկայի ծրագիր «Զբոսաշրջություն» մասնագիտության համար <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>          -->
    </section>
</div>