<div class="mn-container">
    <div class="mn-start">
        <p class="mn-t3">ԴԱՍՏԻԱՐԱԿՉԱԿԱՆ ԽՈՐՀՈՒՐԴ</p>
        <hr class="mn-hr">
        <p class="mn-t1 italic">Վայոց ձորի տարածաշրջանային պետական քոլեջ իր գործունեության ընթացքում մշտապես
            առաջնորդվում է մանկավարժության հայտնի սկզբունքով՝ չկա կրթություն առանց դաստիարակության:</p>
        <p class="mn-t1">Դաստիարակչական խորհուրդը կուրսղեկների միջոցով ապահովում է`</p>
        <ul class="ol">
            <li>քոլեջ-ուսանող կապը տարբեր կողմերից</li>
            <li>կազմակերպում է ուսանողների գեղագիտական, ֆիզիկական, հայրենասիրական, բարոյական, աշխատանքային
                դաստիրակությանն ուղղված բազմաբնույթ աշխատանքներ</li>
            <li>համակարգում ուսանողական և խմբագրական խորհուրդների աշխատանքները</li>
            <li>հետևում ուսանողների հաճախումներին և վարքին</li>
            <li>ձեռնարկում ուսանողների հասարակական ակտիվության բարձրացմանն ուղղված միջոցառումներ</li>
            <li>սահմանում դասախոսների և ուսանողների հերթապահությունը</li>
            <hr class="mn-hr">
        </ul>
        <p class="mn-t1 mn-mtop">ԴԱՍՏԻԱՐԱԿՉԱԿԱՆ ԽՈՐՀՐԴԻ ԿԱԶՄԸ</p>
        <dl>
            <dt>Նախագահ՝</dt>
            <dd>Էլյա Սարգսյան</dd>
            <dt>Անդամներ՝</dt>
            <dd>Լուսինե Սիմոնյան</dd>
            <dd>Լուսինե Նահապետյան</dd>
            <dd>Սուսաննա Հակոբյան</dd>
            <dd>Հասմիկ Գևորգյան</dd>
            <dd>Մեհրանուշ Սահակյան</dd>
            <dd>Սրբուհի Հարությունյան</dd>
            <dd>Վարդուշ Նազարյան</dd>
            <dd>Արմինե Գասպարյան</dd>
            <dd>Նաթելա Ասատրյան</dd>
        </dl>


    </div>
</div>