<div class="body">

    <div class="container">
        <!-- <button class="slide" (click)="slide(0)"> < </button> -->
        <div class="rowflex">
            <img class="slider" [src]="src" alt="ՎՁՏՊՔ" #slider>
        </div>
        <!-- <button class="slide" (click)="slide(1)"> > </button> -->
        <div class="miniphotoes">
            <!-- <div class="parent-miniimges"> -->
                <div class="link-img" routerLink='/announcement' routerLinkActive='active'> 
                    <img class="minislide" src="./assets/qolej12.jpg" alt="ՎՁՏՊՔ">
                    <span class="lng-announcement">Հայտարարություն</span>
                </div>
                <div class="link-img" routerLink="/distance-learning" routerLinkActive='active'>
                    <img class="minislide" src="./assets/qolej.jpg" alt="ՎՁՏՊՔ">
                    <span class="lng-distance_learning2">Հեռավար ուսուցում</span>
                </div>
                <div class="link-img" routerLink="/vocational-eduaction" routerLinkActive='active'>
                    <img class="minislide" src="./assets/qolej9.jpg" alt="ՎՁՏՊՔ">
                    <span class="lng-vocational2">Արհեստագործական կրթություն</span>
                </div>                    
            <!-- </div> -->
            <!-- <div class="parent-miniimges"> -->
                <div class="link-img" routerLink='/alumni' routerLinkActive='active'>
                    <img class="minislide" src="./assets/qolej10.jpg" alt="ՎՁՏՊՔ">
                    <span class="lng-alumni2">Շրջանավարտներ</span>
                </div>
                <div class="link-img" routerLink='/collaboration' routerLinkActive='active'>
                    <img class="minislide" src="./assets/qolej2.jpg" alt="ՎՁՏՊՔ">
                    <span class="lng-collaboration_programs2">Համագործակցության ծրագրեր</span>
                </div>    
            <!-- </div> -->
            <!-- <div class="parent-miniimges"> -->
                <div class="link-img" routerLink="/incollege-life">
                    <img class="minislide" src="./assets/qolej11.jpg" alt="ՎՁՏՊՔ">
                    <span class="lng-college_life2">Ներքոլեջային կյանք</span>
                </div>
            <!-- </div> -->
        </div>
    </div>

</div>

<div class="body-bottom">
    <div class="welcome">
        <h1 class="title lng-welcome" #welcome>Բարի գալուստ</h1>
        <div class="box">
            <p class="subtitle lng-collage_web-site">
                Հայաստանի Հանրապետության կրթության, գիտության, մշակույթի
                եվ սպորտի նախարարության Վայոց ձորի տարածաշրջանային պետական քոլեջի պաշտոնական կայք
            </p>
            <img src="https://i.gifer.com/74SX.gif" alt="">
        </div>
    </div>
    <div class="info">
        <div class="mess">
            <p class="lng-info">
                Մեր տեղեկատվական հարթակում Դուք հնարավորություն կունենաք ծանոթանալ ՎՁՏՊ քոլեջի առաքելությանը, անցած ուղուն, կառուցվածքային ստորաբաժանումներին, ինչպես նաև տեղեկանալ կրթական ծրագրերի, կազմակերպվող միջոցառումների, ձեռքբերումների
                և գրանցած հաջողությունների մասին:
            </p>
            <hr class="mn-hr">
        <div class="special">
            <p class="lng-info2">
                Ձեր դիտողություններն ու առաջարկությունները մեր գործունեության
                բարելավման և զարգացման առանցքային կետերն են:
            </p>
        </div>
    </div>
</div>

</div>