<div class="mn-container">
    <p class="mn-t3">Ներքոլեջային կյանք</p>
    <hr class="mn-hr">

    <section style="max-width: 1000px;margin: 50px auto 0px;"> 
        <ul>
            <li>
                <p class="mn-t2"> <b>«Խոհարարական գործ»</b> մասնագիտության ուսանողները՝ ՎՁՏՊ քոլեջի փորձառու դասախոսների օգնությամբ, շարունակում են կատարելագործել մասնագիտական գործնական հմտությունները:</p>
            </li>
        </ul>

        <p class="mn-text" style="line-height: 150%;">Հարկ ենք համարում նշել, որ «Անուշավան Աբրահամյան Կրթական Հիմնադրամ»-ի բազմակողմանի աջակցության շնորհիվ է, որ ՎՁՏՊ քոլեջում հնարավոր է դարձել իրականացնել վերոնշյալ, ինչպես նաև քոլեջում ուսուցանվող մի շարք մասնագիտությունների ուսումնական գործընթացների արդյունավետ իրականացումը:</p>
        <hr class="mn-hr">
        <br>
        <ul>
            <li>
                <p class="mn-t2">ՎՁՏՊ քոլեջի Կարիերայի կենտրոնի նախաձեռնությամբ տեղի ունեցավ հանդիպում-քննարկում՝ <b>«Զբաղվածության պետական գործակալության Եղեգաձորի զբաղվածության տարածքային կենտրոն»</b>-ի տնօրեն՝ Ժիրայր Սահակյանի հետ:</p>
            </li>
        </ul>

        <p class="mn-text" style="line-height: 150%;"> Հանդիպման շրջանակներում ուսանողները տեղեկատվություն ստացան զբաղվածության պետական գործակալության դերակատարության, խնդիրների և զբաղվածության պետական ծրագրերի մասին: </p>
        <p class="mn-text" style="line-height: 150%;"> Քննարկման ընթացքում անդրադարձ կատարվեց նաև մարզում պահանջարկ ունեցող մասնագիտությունների և թափուր աշխատատեղերի վերաբերյալ հարցերին:</p>


    </section>
</div>