<div class="mn-container">
    <p class="mn-t3">Կանոնակարգեր, աշխատակարգեր և ընթացակարգեր</p>
    <hr class="mn-hr">
    
    <section> 
        <p class="download">Բեռնել</p>
        <div id="download-div1">
            <p class="download-p">Արտաքին շահակիցների ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Արտաքին կապերի և միջազգայնացման հայեցակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Կուրսղեկական աշխատանքի կազմակերպման կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Քոլեջի ղեկավար և մանկավարժական աշխատողների գնահատման, նրանց խրախուսման կամ պատասխանատվության ենթարկելու կարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ուսանողների գիտելիքների գնահատման, հսկման և բողոքարկման համակարգի ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ուսումնական կաբինետի կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ուսանողների պրակտիկայի կազմակերպման և անցկացման կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Փաստաթղթաշրջանառության կառավարման կանոնակարգ և մեխանիզմներ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ներքին շահակիցներ ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Կրթական ծրագրերի մշտադիտարկման և վերանայման ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Հեռավար (առցանց) ուսուցման իրականացման կանոնները և վերահսկման մեխանիզմը <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Դաստիարակչական խորհրդի կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Աշխատակիցների փոխարինելիության կարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Դիմորդների ընդունելության ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ուսումնական մասի կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Հաշվապահության կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Գրադարանի կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Արխիվավարման կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ամբիոնի կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Տնօրինական խորհրդի կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Կարիերայի ստորաբաժանման կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Կառավարման խորհրդի աշխատակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Կադրերի բաժնի կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ֆինանսների տնօրինման քաղաքականությունը և ընթացակարգը <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Բենչմարքինգի (համեմատական վերլուծության) քաղաքականություն և ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
        </div>
        
        <div id="download-div2">
            <p class="download-p">Հետազոտական աշխատանքների արդյունքների վավերացման մեխանիզմները <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Որակի ապահովման ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Շահակիցների կարիքի գնահատման կարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ներքին և արտաքին շահ. ներգրավ. քաղաք. ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Դասավանդման նյութերի և ռես․ քաղաք․ և ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Հասարակության հետ հետադարձ կապի ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Արտաքին կապ. և միջազգ. նպ. քաղաք. և մեխանիզմներ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Անվտանգ միջավայրի ապահ․ կանոններ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">ՎՁՏՊՔ-ի ներքին կարգապահական կանոնները <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Մանկավարժական աշխատողների նշանակման մրցութային ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ֆին. միջոց. համ. հաստատ. գործ. պլան. կառավ. և մշտադիտ. քաղաքականություն <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Լրացուցիչ կրթական և խորհրդատվական ծառ․ իրականացման ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ոսանողներին հետազոտ. աշխ. ներգրավ. քաղաքականություն <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Լրացուցիչ կրթական և խորհրդատվական ծառ․ իրականացման քաղաքականություն <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Հետազոտական գործ․ և ուս․ գործընթացի փոխկապակցման մեխանիզմները, քաղաքականությունը <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ակադեմիական ազնվության կարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Էթիկայի կանոններ, սկզբունքներ, նորմեր <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Հասարակության հետ հետադարձ կապի ապահովման ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Հասարակության հետ հետադարձ կապի հաստատման քաղաքականություն <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ռեսուրսների ժամանակին բաշխելու մեխանիզմները և ընթացակարգերը <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ուսումնամեթոդական խորհրդի կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ուսանողների վարչ․ կազմի կողմից հավելյալ օժ․ կարգ և ժամանակացույց <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Ուսանողների կրթական կարիքների վերհանման քաղաքականություն <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Որակի ապահովման ենթակառուցվածքի կանոնակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Տնօրենի ընտրության ընթացակարգ <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            <p class="download-p">Երիտասարդ աշխատակազմի հետազոտական գործ. խրախուս. քաղաք. և ընթաց. <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>
            
        </div>
        <button id="previous" class="activebtn" (click)="prev()">1</button>
        <button id="next" (click)="next()">2</button>
       
    
    </section>
</div>
