<div class="mn-container">
    <p class="mn-t3"> Համագործակցության ծրագրեր</p>
    <hr class="mn-hr">

    <section>
        <div class="floatparent">
            <img src="./assets/collab (1).jpg" style="border-radius: 50%; float: left; margin-right: 50px" alt=""
                class="img floatimg">
        </div>
        <ol class="ol">
            <li>
                «Փրկեցեք երեխաներին» ամերիկյան կազմակերպության եղեգնաձորյան գրասենյակ - Համակարգչային
                ուսուցման կենտրոնի ստեղծում;
            </li>

            <li>
                IREX – Ինտերնետ կենտրոնի հիմնադրում;
            </li>

            <li>
                Համաշխարհային բանկ - Կրթության որակի և համապատասխանության ծրագիր;
            </li>

            <li>
                Գերմանիայի մեծահասակաների ուսուցման ժողովրդական համալսարանների միության միջազգային համագործակցության
                ինստիտուտ (IIZ/DVV) - «Գիդերի վերապատրաստման ծրագիր»;
            </li>

            <li>
                Գերմանիայի մեծահասկաների ուսուցման ժողովրդական համալսարանների միության միջազգային
                համագործակցության ինստիտուտ (IIZ/DVV), ՀՀ աշխատանքի և սոցիալական հարցերի նախարարություն
                և Եղեգնաձորի զբաղվածության տարածքային կենտրոն - «Կարող» վերապատրաստման ծրագիր գործա-
                զուրկների համար;
            </li>

            <li>
                Եղեգնաձորի զբաղվածության տարածքային կենտրոն - «Շուկայագիտության դասընթաց գործազուրկների համար»;
            </li>

            <li>
                ՀՀ աշխատանքի և սոցիալական հարցերի նախարարություն - «Փոքր բիզնես» ծրագիր;
            </li>

            <li>
                «Անուշավան Աբրահամյան կրթական հիմնադրամ»- Արհեստագործական ուսումնարանների և քոլեջների
                բարեկարգում և զարգացմանը նպաստող ծրագրերի իրականացում;
            </li>

            <li>
                «Սեյվ դը չիլդրեն ինթերնեշնլ» հայաստանյան ներկայացուցչության և «Մասնագիտական կրթության բարեփո
                խումներ» հասարակական կազմակերպության հետ՝ «Մասնագիտական կրթություն և զբաղվածություն
                հաշմանդամություն ունեցող երիտասարդների համար» ծրագրի շրջանակներում՝ Սոցիալական ձեռնար -
                կության ստեղծում;
            </li>

            <li>
                ԱՕԱԿ հիմնադրամի հովանավորչության շնորհիվ՝ Ռոբոտաշինության լսարանի հիմնում;
            </li>

            <li>
                Գերմանիայի միջազգային համագործակցության ընկերության (ԳՄՀԸ/GIZ) կողմից և Գերմանիայի Դաշ-
                նային Հանրապետության տնտեսական համագործակցության և զարգացման նախարարության պատվի
                րակմամբ «Մասնավոր հատվածի զարգացումը Հարավային Կովկասում» ծրագրի աջակցությամբ՝
                Գինեգործություն մասնագիտության հեռավար ուսուցման իրականացում;
            </li>

            <li>
                Գինեգործության ոլորտում գերմանական դուալ ուսուցման համակարգի ներդրում:
            </li>

        </ol>

        <div class="img-parent">
            <img src="./assets/collab (2).jpg" alt="" class="img">
            <img src="./assets/collab (4).jpg" alt="" class="img">
            <img src="./assets/collab (3).jpg" alt="" class="img">
        </div>

        <p class="download mn-mtop">Բեռնել</p>

        <a class="download-p" *ngFor="let file of files['colaboration-programs']" [href]="file.link" target="_blank"> {{
            file.name }} <span class="span"><img class="span-img" src="./assets/download.png" width="20px"
                    height="20px"></span> </a>

    </section>

</div>