<div class="mn-container">
    <div class="mn-start">
        <p class="mn-t3"> ԱՌԱՐԿԱՅԱԿԱՆ ՀԱՆՁՆԱԺՈՂՈՎՆԵՐ</p>
        <hr class="mn-hr">
        <p class="mn-t1 italic">Քոլեջի ուսումնամեթոդական աշխատանքներում մեծապես կարևորվում են առարկայական հանձնաժողովների աշխատանքներիը, որոնց գործունեության շրջանակներն ընդգրկում են  մոդուլային ուսուցման պահանջների ապահովումը, ծրագրերի և օրացուցուցային-թեմատիկ պլանների կազմումը, փոխադարձ դասալսումների կազմակերպումը, հաջողված փորձի փոխանակումը, ծրագրերում անհրաժեշտ փոփոխումների կատարումը, մեթոդական աշխատանքների կազմակերպումը, ուսումնական գործընթացի որակի ապահովմանն ուղղված քայլերի կազմակերպումը և այլն: Նշված խնդիրները համակարգվում են հետևյալ առարկայական  հանձնաժողովներում.</p>
         <ol class="ol">
             <li>Տեխնիկական առարկաների և մոդուլների հանձնաժողով  / նախագահ` Հակոբյան  Ա./</li>
             <li>Տնտեսագիտական առարկաների և մոդուլների հանձնաժողով  /նախագահ` Գևորգյան  Հ./</li>
             <li> Հանրակրթական, ընդհանուր բնագիտական և իրավագիտական առարկաների և մոդուլների հանձնաժողով /        նախագահ` Ա. Պողոսյան./</li>
             <li>Արհեստագործական  առարկաների  և  մոդուլների  հանձնաժողով  /նախագահ` Հակոբյան  Ս./</li>              
         </ol>       
    </div>        
</div>