<div class="mn-container">
    <p class="mn-t3">Որակի ապահովում</p>
    <hr class="mn-hr">
    
    <section>
        <p class="download">Բեռնել</p>
        <a class="download-p" *ngFor="let file of files['quality-assurance']"  [href]="file.link" target="_blank"> {{ file.name }} <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span> </a>

        <!-- <p class="download-p">Որակի ապահովման ենթակառուցվածք <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p>  -->
        <!-- <p class="download-p">Որակի ներքին ապահովման գործընթացում ընդգրկված անձանց աշխ նկարագրերը <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
        <!-- <p class="download-p">Որակի ապահովման հանձնաժողովի 2015-2020թթ․-ի վերլուծություն <span class="span"><img  class="span-img" src="./assets/download.png" width="20px" height="20px"></span></p> -->
    </section>
</div>