<div class="mn-container">
    <p class="mn-t3"> Կարիերայի կենտրոն</p>
    <hr class="mn-hr">

    <section>
    
    <p class="mn-t2 mn-mtop">Կարիերայի  կենտրոնի  հիմնական  գործառույթներն են`</p>

    <div class="img-parent" style="background: none;">
        <img src="./assets/career-center.gif" alt="" style="background-color: #fff; border-radius: 50%">
    </div>
    
    <ol class="ol">
        <li>Մասնագիտական կողմնորոշման ուղղությամբ աշխատանքների կազմակերպում դպրոցականների շրջանում,</li>
        <li>Քոլեջի ուսանողների շրջանում մասնագիտությունների շուրջ զրույցների և քննարկումների կազմակերպում,</li>
        <li>Զբաղվածության կենտրոնում գրանցված գործազուրկների հետ աշխատանքների կազմակերպում /վերապատրաստումներ, դասընթացներ, կարճաժամկետ ուսուցման ծրագրեր/,</li>
        <li>Կարիերայի  կենտրոնում ընդգրկված ունկնդիրների հետ տարաբնույթ աշխատանքների կազմակերպում:</li>
    </ol>
    <br>
    <p class="mn-t2 mn-mtop">Գործունեության Հեռանկարները</p>

    <div class="img-parent" style="background: none;">
        <img src="./assets/career-center.png" alt="" style="background-color: #fff; border-radius: 50%">
    </div>

    <ol class="ol">
        <li>օտար լեզուների ուսուցում,</li>
        <li>բիզնես ծրագրերի ուսուցում,</li>
        <li>համակարգչային ծրագրերի ուսուցում</li>
        <li>աշխատաշուկայի  պահանջարկին  համապատասխանող  մասնագիտությունների պրոպագանդա</li>
        <li>մասնակցություն դրամաշնորհային ծրագրերին,</li>
        <li>խորհրդատվությունների կազմակերպում` իրավունքի, հարկային դաշտի և այլ թեմաների վերաբերյալ:</li>
    </ol>

    </section>
</div>