<div class="mn-container">
    <p class="mn-t3">Պայմանագրեր գործատուների հետ</p>
    <hr class="mn-hr">
    
    <section> 
        <p class="mn-text">Վայոց ձորի տարածաշրջանային պետական քոլեջը գործունեության վերջին տարիներին կարևորում է գործատուների հետ համագործակցության շրջանակների ամրապնդումը և նպատակային ուսուցման կազմակերպումը:  Այս ոլորտում արդեն շոշափելի արդյունքներ կան:</p>
        <p class="mn-text">Քոլեջը բոլոր մասնագիտությունների գծով ունի կնքած պայմանագրեր մի շարք ընկերությունների, հիմնարկ-ձեռնարկությունների և կազմակերպությունների հետ մինչև 2014թ. շուրջ 120 ուսանողի աշխատանքով ապահովելու և պրակտիկաներն արդյունավետ կազմակերպելու համար: Այս արդյունքներն է վավերացնում ՄԿՈՒԶԱԿ-ի կողմից պատրաստված տեսաֆիլմը, որը ներկայացնում է տարածաշրջանի տնտեսական զարգացման  հեռանկարի համար անհրաժեշտ մասնագիտության` գինեգործության ոլորտում կադրերի պատրաստման լավագույն փորձը:</p>
        <p class="mn-text">Առանձնապես կարևորվում են գինեգործարանների հետ ունեցած պայմանագրերը, քանի որ մարզի արդյունաբերական ոլորտում գինեգործությունը դառնում է  գերակա ճյուղ: Համագործակցության արդյունքում լուրջ ձեռքբերում է նաև <<Ռելե>> ՓԲԸ-ի կողմից  40 աշխատողի վերապատրաստման, արհեստագործական մասնագիտություն-ների գծով 50 և միջին օղակի 60 տեղի պահանջ /ընդհանուր առմամբ` 150 տեղ/ ներկայացնող համաձայնագիրը:</p>
        <p class="mn-text">Գործատուները պարբերաբար հրավիրվում են քոլեջ` տեղում ծանոթանալու ուսուցման գործընթացին, մասնակցելու քննարկումներին և միջոցառումներին, ներկայացնելու իրենց պահանջները և դիտարկումները:</p>
    </section>

</div>