<div class="mn-container">
    <div class="mn-start">
        <p class="mn-t3">ԿԱՌԱՎԱՐՄԱՆ ԽՈՐՀՈՒՐԴ</p>
        <hr class="mn-hr">
        <p class="mn-t2">ԿԱՌԱՎԱՐՄԱՆ ԽՈՐՀՐԴԻ ԳՈՐԾՈՒՆԵՈՒԹՅՈՒՆՆ ԸՆԴԳՐԿՈՒՄ Է ՀԵՏԵՎՅԱԼ ՇՐՋԱՆԱԿՆԵՐԸ</p>
        <ul class="ol">
            <li>քոլեջին վերաբերվող գլոբալ խնդիրների առաջադրում, քննարկում, լուծման խնդիրների մշակում</li>
            <li>քոլեջի գործունեության վերաբերյալ առաջարկությունների ներկայացում պետական կառավարման լիազոր մարմնին</li>
            <li>քոլեջի տարբեր ստորաբաժանումների աշխատանքային պլանների և հաշվետվությունների քննարկում</li>
            <li>քոլեջի կարևորագույն իրավական և նորմատիվ ակտերի քննարկում և հաստատում</li>
            <li>քննարկել և հիմնադրի հաստատմանը ներկայացնել քոլեջի կանոնադրության նախագիծը</li>
            <li>քննարկել և հաստատել քոլեջի տարեկան ծախսերի նախահաշիվը</li>
            <li>իրականացնել կանոնադրությունից բխող այլ լիազորություններ</li>
        </ul>
        <p class="mn-t1 italic"> ՎՁՏՊ քոլեջի կառավարման խորհուրդը ձևավորվել է 2009 թ-ին, որի կազմում ընդգրկված են`
            գործատու, պետական սեկտորի, ՀԿ-ների, լիազոր մարմնի ներկայացուցիչներ, քոլեջի
            դասախոսներ և ուսանողներ: </p>
        <p class="mn-t2">
            <<ՎԱՅՈՑ ՁՈՐԻ ՏԱՐԱԾԱՇՐՋԱՆԱՅԻՆ ՊԵՏԱԿԱՆ ՔՈԼԵՋ>> ՊՈԱԿ-Ի ԿԱՌԱՎԱՐՄԱՆ ԽՈՐՀՐԴԻ ԱՆԴԱՄՆԵՐԻ ՑԱՆԿԸ
        </p>
        <dl>
            <dt>Սվետլանա Դովլաթյան</dt>
            <dd>«Վայոց Ձոր» տեղեկատվական կենտրոնի տնօրեն, Խորհրդի նախագահ</dd>
            <dt>Կարեն Մանուկյանը</dt>
            <dd> ՀՀ կրթության, գիտության, մշակույթի և սպորտի նախարարության նախնական և միջին մասնագիտական կրթության
                վարչության բաժնի պետ</dd>
            <dt>Տիգրան Պողոսյան</dt>
            <dd> Կրթության և գիտության աշխատողների արհեստակցական կազմակերպությունների Եղեգնաձորի տարածքային միության
                նախագահ, Խորհրդի նախագահի տեղակալ</dd>
            <dt>Սամվել Ավետիսյան</dt>
            <dd> Եղեգնաձորի զբաղվածության մարզային կենտրոնի տնօրենի տեղակալ</dd>
            <dt>Աղասի Հովհաննիսյան</dt>
            <dd>Մարզպետարանի աշխատակազմի, կրթության, մշակույթի և սպորտի վարչության գլխավոր մասնագետ</dd>
            <dt>Արտակ Ալոյան</dt>
            <dd>«Արդշինբանկ» ՓԲԸ Եղեգնաձորի մասնաճյուղի կառավարիչ</dd>
            <dt>Արմինե Միքայելյան</dt>
            <dd>ՎՁՏՊ-ի դասախոս, Խորհրդի քարտուղար</dd>
            <dt>Մեհրանուշ Սահակյան</dt>
            <dd>ՎՁՏՊ-ի դասախոս</dd>
            <dt>Ինա Մնացականյան</dt>
            <dd>ՎՁՏՊ-ի ուսանող</dd>
            <dt>Նոնա Կարապետյան</dt>
            <dd>ՎՁՏՊ-ի ուսանող</dd>
            <dt>Կարեն Սարդարյան</dt>
            <dd>ՎՁՏՊ-ի ուսանող</dd>
        </dl>
    </div>
</div>