<div class="mn-container">
    <p class="mn-t3">Ահեստագործական կրթություն</p>
    <hr class="mn-hr">

    <section style="max-width: 1000px; margin: 20px auto 0px;">
        <p class="mn-t2 italic">  Նախնական մասնագիտական կրթությունը մասնագիտական կրթության սկզբնական մակարդակն է: Հիմնականում գոյություն ունեն ՊՏՈՒ (պետական տեխնիկական ուսումնարաններ) և ՈԿՀ (ոչ պետական լիցենզավորված նախնական մասնագիտական (արհեստագործական) ուսումնական հաստատություններ:</p>
        <b class="sm-tx">Նախնական մասնագիտական կրթությունը նախատեսված է. </b>
        <p class="mn-text"> 1.  Նախնական մասնագիտական կրթությունը նպատակ է հետապնդում պատրաստել որակավորված աշխատակիցներ հասարակական անհրաժեշտ բնագավառների գործունեության ոլորտում միջին դպրոցի (9-րդ դասարան) և ավագ դպրոցի (12-րդդասարան) կրթական բազայի հիման վրա:</p>
        <p class="mn-text"> 2. Նախնական մասնագիտական կրթությունը կարելի է ստանալ նախնական մասնագիտական կրթության ուսումնական հաստատություններում, ինչպես նաև միջին մասնագիտական և բարձրագույն մասնագիտական կրթության ուսումնական հաստատություններում, եթե առկա է համապատասխան արտոնագիր:</p>
        <hr class="mn-hr">
        <p class="mn-text">ՎՁՏՊ քոլեջում նախնական/արհեստագործական կրթություն կարող են ստանալ  ինչպես  հիմնական ընդհանուր, այնպես էլ միջնակարգ (լրիվ) ընդհանուր կրթություն  ունեցող  անձինք` առանց  տարիքային  սահմանափակման:</p>
        <div style="display: flex; justify-content: center;margin: 30px 0px;">
            <img src="./assets/lamp.gif" style="border-radius: 50%;" alt="" class="image pict">
        </div>
        <hr class="mn-hr">
        <b class="sm-tx2">Իրականացվում են նաև կարճաժամկետ դասընթացներ հետևյալ մասնագիտություններով․</b>
        
        <ol class="ol">
            <li>Վարսավիրական արվեստ</li>
            <li>Վարորդական  դասընթացներ</li>
            <li>Համակարգչային օպերատորություն</li>
            <li>Կարի արտադրության տեխնոլոգիա</li>
            <li>Բարմեն</li>
            <li>Մատուցող</li>
            <li>Մատնահարդարում</li>
            <li> Հրուշակագործություն</li>
            <li>Խոհարարություն</li>
            <li>Ատաղձագործություն, մանրահատակագործություն, ապակեգործություն</li>
            <li>Շինարարական, հարդարման աշխատանքների իրականացում</li>
        </ol>

        

    </section>

</div>