<div class="mn-container">
    <p class="mn-t3">Պայմանագրեր բուհերի հետ</p>
    <hr class="mn-hr">
    
    <section> 
        <p class="mn-text">
            Համաձայն կառավարության  և Հայաստանի մի շարք պետական բուհերի հետ կնքած պայմանագրերի` Վայոց ձորի տարածաշրջանային պետական քոլեջի բարձր առաջադիմություն ունեցող շրջանավարտները հնարավորություն ունեն իրենց կրթությունը շարունակել ստորև նշված բուհերի բաժիններում՝
        </p>
        <br>
        <ol class="ol">
            <li>Երևանի պետական համալսարան</li>
            <li>Հայաստանի պետական տնտեսագիտական  համալսարան</li>
            <li>Հայաստանի պետական ագրարային համալսարան</li>
            <li>Հայաստանի պետական մանկավարժական համալսարան</li>
            <li>Հայաստանի պետական ճարտարագիտական համալսարան</li>
        </ol>
    </section>
</div>
