<div class="mn-container">
    <section class="section">
    <div class="mn-start">
        <p class="mn-t3">Վայոց ձորի տարածաշրջանային պետական քոլեջի աշխատակազմ</p>
        <hr class="mn-hr">
        <p class="mn-t1 italic">Մարդկային ռեսուրսը կազմակերպության մեծագույն արժեքն է...</p>
        <p class="mn-t1">ՎՁՏՊ քոլեջում դասավանդում են բանիմաց դասախոսներ, որոնք ջանք ու եռանդ չեն խնայում ուսանողներին խորը և կայուն գիտելիքներով զինելու, բարոյական ոգով դաստիարակելու և կյանքի նոր փուլ մուտք գործելու հարցում հնարավորինս աջակցելու համար:</p>
    </div>        
    </section>
</div>