<div class="mn-container">
    <div class="mn-start">
        <p class="mn-t3">ՏՆՕՐԻՆԱԿԱՆ ԽՈՐՀՈՒՐԴ</p>
        <hr class="mn-hr">
        <p class="mn-t2">ՏՆՕՐԻՆԱԿԱՆ ԽՈՐՀՐԴԻ ԿԱԶՄԸ</p>
        <dl>
            <dt>Նախագահ՝</dt>
            <dd>Արգամ Դովլաթյան</dd>
            <dt>Անդամներ՝</dt>
            <dd>Խաչանուշ Սարգսյան</dd>
            <dd>Էլյա Սարգսյան</dd>
            <dd>Մեհրանուշ Սահակյան</dd>
            <dd>Մարո Վաղարշակյան</dd>
            <dd>Սուսաննա Հակոբյան</dd>
            <dd>Հասմիկ Գևորգյան</dd>
            <dd>Աշխեն Պողոսյան</dd>
            <dd>Նարինե Հովհաննիսյան</dd>
            <dd>Արմինե Միքայելյան</dd>
            <dd>Սաթենիկ Բաբայան</dd>
            <dd>Գոհար Ավետիսյան</dd>
            <dd>Լուսյա Մարտիրոսյան</dd>
        </dl>
    </div>
</div>