section {
    margin-top: 50px;
    p {
      line-height: 150%;
    }
}
.mn-container {
    max-width: 1000px;
}
.mn-container .mn-t4 {
    text-align: center;
    font-size: 22px;
    color: #10416e;
    font-weight: lighter;
    text-align: justify;
  
  } 
  .mn-container .mn-t5 {
    text-align: center;
    font-size: 20px;
    color: #14075c;
    font-weight: 900;
    text-align: center;
  
  } 
  .mn-container .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.img-parent {
  width: 100%;
  padding: 25px 0px;
  background-color: #fff;
}