<div class="mn-container">
    <p class="mn-t3">Հեռավար ուսուցում</p>
    <hr class="mn-hr">


    <section>
        <p class="mn-text"> Գիտության եւ տեխնիկայի զարգացման ներկա փուլում շարունակական կրթության բնագավառում լայն
            տարածում ունի հեռավար ուսուցումը, շահագրգիռ անձանց որը հնարավորություն է տալիս առցանց ստանալու համապատաս խան
            ուսում կամ մասնակցելու վերապատրաստման դասընթացներին իրենց հարմար վայրում եւ հարմար ժամերին. Հեռավար
            դասընթացների առանձնահատկությունն այն է, որ ժամային սահմանափակումներ չկան եւ դասընթացներն եւական իար դասախոսը
            եւ ուսանողը միմյանց իրական կյանքում կարող են եւ չհանդիպել, իսկ շփումն իրականացվում է առցանց, ֆորումների եւ
            տեսակոնֆերանսների միջոցով: </p>
        <hr class="mn-hr">

        <p class="mn-text">Էլեկտրոնային ուսուցման ներդրումը, այդ թվում նաեւ տեղեկատվական հաղորդակցման տեխնոլոգիաների
            կիրառումը, ՄԿՈՒ համակարգում օգտագործումը ունի բազմաթիվ առավելություններ եւ բարելավվում է մատուցվող կրթական
            ծառայությունների որակը, սոցիալական համագործակցությունը՝ ամրապնդելով եւ ապահովելով աշխատաշուկայում
            մրցակցությունը, ՄԿՈՒ հաստատությունների հեղինակության եւ վարկանիշի բարձրացումը: </p>
        <hr class="mn-hr">

        <p class="mn-text italic"> ՄԿՈՒում ուսուցման նոր եւ արդյունավետ մեխանիզմների ներդրումն ու շարունակական
            զարգացումը նպաստում է ուսուցման ճկուն համակարգի ձեւավորմանը, ստեղծելով բարենպաստ պայմաններ աշխատաշուկայի
            կողմից պահանջվող կարողություններին եւ հմտություններին միտված ուսուցման եւ արդյունավետ գնահատման համար:</p>
        <hr class="mn-hr">

        <p class="mn-text bold"> Էլ. դասընթացի կազմակերպման և իրականացման հաջողված օրինակ է՝ Գերմանիայի միջազգային
            համագործակցության ընկերության (ԳՄՀԸ/GIZ) կողմից և Գերմանիայի Դաշնային Հանրապետության տնտեսական
            համագործակցության և զարգացման նախարարության (BMZ) պատվիրակմամբ «Մասնավոր հատվածի զարգացումը Հարավային
            Կովկասում» ծրագրի աջակցությամբ՝ Գինեգործություն մասնագիտության հեռավար ուսուցման իրականացումը ՎՁՏՊ քոլեջում:
        </p>

        <div class="img-parent">
            <img src="./assets/distanse-learning.jpg" class="image">
        </div>
    </section>


</div>